.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  max-width: 400px;
  border-radius: 10px;
  margin-block: 70px;
  border: 1px solid var(--border-color);
  padding: 80px 30px 40px;
}

.login_title {
  line-height: 1.6;
  color: var(--main-color);
  font-size: 24px;
  text-align: center;
}

.login_subtitle {
  color: var(--text-color);
  line-height: 2;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.form_control {
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form_control:focus {
  border-color: var(--main-color);
}

.login_button {
  width: 100%;
}

.forgot_password {
  text-align: right !important;
  margin-bottom: 10px;
}
.forgot_password a {
  color: var(--main-color);
}

.create_account {
  margin-block: 20px;
  color: var(--text-color);
}

.create_account a {
  color: var(--main-color);
}
